{% extends 'base.html' %}
{% block contents %}
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h1>글 작성</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <form method="post">
        {% csrf_token %}
        <div class="form-group mb-2">
          <label for="title" class="form-label">제목</label>
          <input type="text" name="title" id="title" class="form-control" value="{{form.title.value|default_if_none:''}}">
        </div>
        <div class="form-group mb-2">
          <label for="contents" class="form-label">내용</label>
          <textarea name="contents" id="contents" class='form-control' row='10'></textarea>
        </div>
        <div class="form-group mb-2">
          <label for="writer" class="form-label">작성자</label>
          <input type="text" name="writer" id="writer" class="form-control" value="{{request.user}}" readonly="readonly">
        </div>
        <div class="form-group mb-2">
          <label for="tags" class='form-label'>태그</label>
          <input type="text" name='tags' id="tags" class="form-control" value="{{form.tags.value|default_if_none:' '}}" ">
        </div>
        <div class=" form-group mb-2">
          <button class="btn btn-primary" type="submit">등록</button>
        </div>
      </form>
    </div>
  </div>
{% endblock contents %}
