/* 블릿 기호 제거 margin(0), padding(0), 
border-bottom : 1px solid #ccc */
ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
/* padding : 상하10, 좌우 20, float : left, 
글자색상 : gray */
.tab-button {
  padding: 10px 20px;
  margin-right: -1px;
  margin-bottom: -1px;
  float: left;
  color: gray;
  cursor: pointer; /* 커서 손 모양 만들기 like a 태그 */
}
/* float 해제 */
.list::after {
  content: "";
  display: block;
  clear: both;
}
/* margin-top : -2px, border-top : 2px solid orange
border-right : #ccc, border-bottom : white,
border-left : #ccc */
.orange {
  margin-top: -2px;
  border-top: 2px solid orange;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-left: 1px solid #ccc;
  color: black;
}
/* display 안 보이도록, padding 10px */
.tab-content {
  display: none;
  padding: 10px;
}

.show {
  display: block;
}

/* 세부 선택 숨기기 */
.form-hide {
  display: none;
}
